<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEntidadeOf_Cliente" />
                <binding name="BasicHttpBinding_IAlterarOf_Cliente" />
                <binding name="BasicHttpBinding_IInserirOf_Cliente" />
                <binding name="TransportSecurity" closeTimeout="00:10:00" openTimeout="00:10:00"
                    receiveTimeout="24.00:00:00" sendTimeout="24.00:00:00" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" transferMode="Buffered" />
                <binding name="BasicHttpBinding_IEntidadeOf_Contrato" />
                <binding name="BasicHttpBinding_IInserirOf_Contrato" />
                <binding name="BasicHttpBinding_IAlterarOf_Contrato" />
                <binding name="BasicHttpBinding_IInserirOf_Pagamento" />
                <binding name="BasicHttpBinding_IListarTodosOf_Pagamento" />
                <binding name="BasicHttpBinding_IEntidadeOf_Pagamento" />
                <binding name="BasicHttpBinding_IListarOf_Cliente" />
                <binding name="BasicHttpBinding_IListarOf_Contrato" />
                <binding name="BasicHttpBinding_IParametroListaOf_Pagamento" />
            </basicHttpBinding>
        </bindings>
      <!--<behaviors>
        <serviceBehaviors>
          <behavior>
            --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
            --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
            <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>-->
      <behaviors>
        <serviceBehaviors>
          <behavior name="teste">
            <serviceMetadata httpGetEnabled="false"/>
            <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
            <serviceDebug includeExceptionDetailInFaults="true"/>
            <serviceThrottling maxConcurrentCalls="1200" maxConcurrentSessions="1200" maxConcurrentInstances="1200"/>
          </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
          <behavior name="webhttp">
            <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          </behavior>
        </endpointBehaviors>
      </behaviors>

      <!--<bindings>
        <netTcpBinding>
          <binding name="BasicHttpBinding_IEntidadeOf_Contrato" closeTimeout="00:10:00" openTimeout="00:10:00"
                                  receiveTimeout="24.00:00:00" sendTimeout="24.00:00:00"
                                  transferMode="Buffered"
                          
                                  hostNameComparisonMode="StrongWildcard"

                                  maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                                  maxReceivedMessageSize="2147483647">
            
          </binding>

             
        </netTcpBinding>
      
    </bindings>-->
      
      <!--<behaviors>
        <serviceBehaviors>
          <behavior name="debug">
            <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>-->
        <client>
            <endpoint address="http://localhost:49407/PagamentoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInserirOf_Pagamento"
                contract="PagamentoService.IInserirOf_Pagamento" name="BasicHttpBinding_IInserirOf_Pagamento" />
            <endpoint address="http://localhost:49407/PagamentoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListarTodosOf_Pagamento"
                contract="PagamentoService.IListarTodosOf_Pagamento" name="BasicHttpBinding_IListarTodosOf_Pagamento" />
            <endpoint address="http://localhost:49407/PagamentoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntidadeOf_Pagamento"
                contract="PagamentoService.IEntidadeOf_Pagamento" name="BasicHttpBinding_IEntidadeOf_Pagamento" />
            <endpoint address="http://localhost:49407/ClienteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntidadeOf_Cliente"
                contract="ClienteService.IEntidadeOf_Cliente" name="BasicHttpBinding_IEntidadeOf_Cliente" />
            <endpoint address="http://localhost:49407/ClienteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlterarOf_Cliente"
                contract="ClienteService.IAlterarOf_Cliente" name="BasicHttpBinding_IAlterarOf_Cliente" />
            <endpoint address="http://localhost:49407/ClienteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInserirOf_Cliente"
                contract="ClienteService.IInserirOf_Cliente" name="BasicHttpBinding_IInserirOf_Cliente" />
            <endpoint address="http://localhost:49407/ClienteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListarOf_Cliente"
                contract="ClienteService.IListarOf_Cliente" name="BasicHttpBinding_IListarOf_Cliente" />
            <endpoint address="http://localhost:49407/ContratoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntidadeOf_Contrato"
                contract="ContratoService.IEntidadeOf_Contrato" name="BasicHttpBinding_IEntidadeOf_Contrato" />
            <endpoint address="http://localhost:49407/ContratoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInserirOf_Contrato"
                contract="ContratoService.IInserirOf_Contrato" name="BasicHttpBinding_IInserirOf_Contrato" />
            <endpoint address="http://localhost:49407/ContratoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlterarOf_Contrato"
                contract="ContratoService.IAlterarOf_Contrato" name="BasicHttpBinding_IAlterarOf_Contrato" />
            <endpoint address="http://localhost:49407/ContratoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListarOf_Contrato"
                contract="ContratoService.IListarOf_Contrato" name="BasicHttpBinding_IListarOf_Contrato" />
            <endpoint address="http://localhost:49407/ArquivoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IParametroListaOf_Pagamento"
                contract="ArquivoService.IParametroListaOf_Pagamento" name="BasicHttpBinding_IParametroListaOf_Pagamento" />
        </client>
    </system.serviceModel>
</configuration>